.InspectorComponent {
    display: flex;
    align-items: center;
}

.InspectorComponent .title {
    font-size: 9px;
    width: 30%;
    margin-left: 10px;
}

.InspectorComponent .value {
    display: flex;
    align-items: center;
}

.InspectorComponent .input {
    font-size: 9px;
    background-color: #121212;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    outline: none;
    width: 100%;
    padding: 5px;
}

.InspectorComponent .input:hover {
    border: 1px solid #4d4d4d;
}

.InspectorComponent .input.active {
    background-color: #3498db80;
}

.InspectorComponent .InspectorComponent {
    width: 70%;
    margin-bottom: 0px;
}

.InspectorComponent .InspectorComponent .input {
    width: 100%;
}



.InspectorComponent .range {
    -webkit-appearance: none;
    height: 5px;
    background: #4d4d4d;
    outline: none;
}

.InspectorComponent .range:hover {
    opacity: 1;
}

.InspectorComponent .range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #bfbfbf;
    cursor: pointer;
    border-radius: 50%;
}

.InspectorComponent .range::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #bfbfbf;
    cursor: pointer;
    border-radius: 50%;
}

.InspectorComponent .red-bg {
    background-color: #e74c3c50;
}

.InspectorComponent .green-bg {
    background-color: #2ecc7150;
}

.InspectorComponent .blue-bg {
    background-color: #3498db50;
}

.InspectorComponent .vec-label {
    padding: 4px;
    font-size: 9px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.InspectorComponent .vec-label:hover {
    cursor: col-resize;
}

.InspectorComponent .vec-input {
    padding: 4px;
    font-size: 9px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.InspectorComponent .edit {
    display: flex;
    width: 100%;
    margin-right: 5px;
}