html, body {
    margin:0;
    height: 100%;
    color: white;
    font-family: monospace;
    font-size: 10px;
    background-color: black;
}

flex {
    display: flex;
    overflow: hidden;
}

flex.h {
    flex-direction: row;
}

flex.v {
    flex-direction: column;
}

flex>flex-resizer {
    flex: 0 0 1px;
    /* background: white; */
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; 
}

flex.h>flex-resizer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 20px;
}

flex.v>flex-resizer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    bottom: 10px;
    height: 20px;
    right: 0px;
}

flex-item {
    display: flex;
    overflow: hidden;
    border-radius: 20px;
    background: #222;
    margin: 10px;
}

flex.h>flex-resizer:hover {
    background-color: #363636;
    width: 20px;
}

flex.v>flex-resizer:hover {
    background-color: #363636;
    height: 20px;
}

flex.h>flex-resizer {
    cursor: ew-resize;
}

flex.v>flex-resizer {
    cursor: ns-resize;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* LayoutConsole */
.LayoutConsole {
    width: 100%;
}

.LayoutConsole > .warn {
    color: yellow;
}

.LayoutConsole > .error {
    color: red;
}

.Layout {
    width: 100%;
}

.Layout > .header {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #2b2b2b;
    padding-left: 10px;
    padding-top: 5px;
}

.Layout > .header > .title {
    height: 15px;
    padding: 2px;
    cursor: pointer;
}

.Layout > .header > .selected {
    background-color: #272727;
}

.Layout > .header > .right-action {
    color: red;
    margin-left: auto;
    margin-right: 20px;
    font-size: 12px;
}
