html, body {
    margin:0;
    height: 100%;
}

flex {
    display: flex;
    overflow: hidden;
    background-color: #272727;
}

flex.h {
    flex-direction: row;
}

flex.v {
    flex-direction: column;
}

flex-item {
    overflow: auto;
}

flex>flex-resizer {
    flex: 0 0 5px;
    /* background: white; */
    background-color: #2c2c2c;
    background-repeat: no-repeat;
    background-position: center;
}

flex>flex-resizer:hover {
    background-color: #363636;
}

flex.h>flex-resizer {
    cursor: ew-resize;
}

flex.v>flex-resizer {
    cursor: ns-resize;
}