html, body {
    margin:0;
    height: 100%;
    color: white;
    font-family: monospace;
    font-size: 10px;
}

flex {
    display: flex;
    overflow: hidden;
    background-color: #272727;
}

flex.h {
    flex-direction: row;
}

flex.v {
    flex-direction: column;
}

flex>flex-resizer {
    flex: 0 0 1px;
    /* background: white; */
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; 
}

flex.h>flex-resizer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    bottom: 0;
    width: 20px;
}

flex.v>flex-resizer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    bottom: 10px;
    height: 20px;
    right: 0px;
}

flex-item {
    display: flex;
    overflow: hidden;
}

flex>flex-resizer:hover {
    background-color: #363636;
    width: 20px;
}

flex.h>flex-resizer {
    cursor: ew-resize;
}

flex.v>flex-resizer {
    cursor: ns-resize;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* LayoutConsole */
.LayoutConsole {
    width: 100%;
}

.LayoutConsole > .warn {
    color: yellow;
}

.LayoutConsole > .error {
    color: red;
}

.LayoutTab {
    width: 100%;
}

.LayoutTab > .header {
    display: flex;
    width: 100%;
    background-color: black;
}

.LayoutTab > .header > .title {
    height: 15px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.LayoutTab > .header > .selected {
    background-color: #272727;
}