.collapsible-content-edonec {
    overflow: auto;
    transition: height 0.1s ease-in-out;
    interpolate-size: allow-keywords;
}

.collapsible-content-edonec>div {
    padding: 5px;
}

.title-text-edonec {
    display: inline-block;
    font-size: 10px;
}

.title-right-menu {
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.title-right-menu:hover {
    opacity: 0.5;
}

.collapsible-card-edonec {
    margin: 10px;
    border-radius: 10px;
    background-color: #1a1a1a;
    box-shadow: 1px 1px 3px 0px black;
    border: 1px solid #ffffff10;
}

.collapsible-header-edonec {
    align-items: center;
    padding: 5px;
    display: flex;
    width: 100%;
}

.collapsible-icon-button-edonec {
    cursor: pointer;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 10px;
    width: 25px;
}