.collapsible-content-edonec {
    overflow: auto;
    transition: height 0.2s ease-in-out;
    border-bottom: 1px solid black;
}
.title-text-edonec {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}
.title-right-menu {
    float: right;
    margin-right: 10px;
    text-align: center;
    width: 15px;
    font-weight: bold;
}
.title-right-menu:hover {
    background-color: #404040;
}

.collapsible-header-edonec {
    width: 100%;
    display: inline-block;
    align-items: center;
    padding: 3px 0px 3px 0px;
    cursor: pointer;
    background-color: #2b2b2b;
}
.collapsible-content-padding-edonec {
    padding-top: 3px;
}

.collapsible-icon-button-edonec {
    cursor: pointer;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 10px;
    width: 25px;
}